<nav class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <span class="logo-icon">J</span>
      <span class="logo-text">jj</span>
    </div>
  </div>

  <ul class="sidebar-menu">
    <li class="menu-item active">
      <i class="pi pi-pen-to-square"></i>
      <span>Console</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-folder"></i>
      <span>Files</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-database"></i>
      <span>Backups</span>
      <span class="badge badge-danger">4/4</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-calendar"></i>
      <span>Schedules</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-users"></i>
      <span>Users</span>
      <span class="badge">0</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-server"></i>
      <span>Databases</span>
      <span class="badge">0</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-globe"></i>
      <span>Network</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-list"></i>
      <span>Activity</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-play"></i>
      <span>Startup</span>
    </li>

    <li class="menu-item">
      <i class="pi pi-cog"></i>
      <span>Settings</span>
    </li>

    <li class="menu-item logout">
      <i class="pi pi-sign-out"></i>
      <span>Open in Admin</span>
    </li>
  </ul>
</nav>
